body {
	background: #9ea3a3;
	color: #adadad;
	background: url(../images/bg.jpg);
}

#page {
    background: rgba(65, 70, 70, 0.4);
    border: solid 1px #474949;
    /*border-top: 0;*/
}

#mw_team_1
{
    float: right;

}
#mw_score
{
    text-align: center;

}

.statistics
{
    font-weight: bold;
}