{% block scripts %}{% endblock %}
{#<div class="row">#}
{#<div class="span9">#}
{#<div class="container">#}
{#    <header class="jumbotron subhead" id="overview">#}
{#        <div class="subnav">#}
{#            <ul class="nav nav-pills">#}
{#                <li class="active"><a href="#typography">Typography</a></li>#}
{#                <li class=""><a href="#navbar">Navbar</a></li>#}
{#                <li class=""><a href="#buttons">Buttons</a></li>#}
{#                <li><a href="#forms">Forms</a></li>#}
{#                <li><a href="#tables">Tables</a></li>#}
{#                <li><a href="#miscellaneous">Miscellaneous</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </header>#}
{#</div>#}

    {% block content %}{% endblock %}
{##}
{#</div>#}
{#</div>#}