{% extends "base_view.html" %}

{%  block content %}
    <div class="row">
        <div class="span4"><label> Select League</label></div>
        <div class="span4"><label> Select Match</label></div>

        <div class="row">
            <div class="span4">
                <div class="controls">
                    <select id="msw_select_league">
                        <option class="msw_league_option">Select League</option>
                    </select>
                </div>
            </div>
            <div class="span4">
                <div class="controls">
                    <select id="msw_select_match">
                        <option class="msw_match_option">Select league first</option>
                    </select>
                </div>
            </div>
            <div class="span1 offset2">
                <a id="match_select_button" class="btn btn-info btn-small">GO!</a>
            </div>
        </div>
    </div>




{#    <div class="span4">#}
{#        <label> Select League#}
{#            <div class="controls">#}
{#                <select id="msw_select_league">#}
{#                    <option class="msw_league_option">Select League</option>#}
{#                </select>#}
{#            </div>#}
{#        </label>#}
{#    </div>#}
{#    <div class="span4">#}
{#        <label> Select Match#}
{#            <div class="controls">#}
{#                <select id="msw_select_match">#}
{#                    <option class="msw_match_option">Select league first</option>#}
{#                </select>#}
{#            </div>#}
{#        </label>#}
{#    </div>#}
{#    <div class="span3">#}
{#        <a id="match_select_button" class="btn btn-info btn-small">GO!</a>#}
{#    </div>#}
{% endblock %}