{#<div class="container">#}
    <div class="row">
        <div class="span3">
            <h4 class="mw_team_1">.</h4>
        </div>
        <div class="span3 offset3">
            <h4 class="mw_team_2">.</h4>
        </div>
    </div>
    <div class="row">

        <div class="span3">
            <div class="row"><div class="span3">test</div></div>
            <div class="row"><div class="span3">test</div></div>
        </div>
        <div class="span3 statistics">
            <div class="row"><div class="span3">Shots on Target</div></div>
            <div class="row"><div class="span3">Shots</div></div>
            <div class="row"><div class="span3">Passes</div></div>
            <div class="row"><div class="span3">Turnovers</div></div>
            <div class="row"><div class="span3">Total Distance Covered</div></div>
            <div class="row"><div class="span3">High Intensity Run</div></div>
            <div class="row"><div class="span3">Possession</div></div>
        </div>
        <div class="span3">
            karaladim
        </div>

    </div>
{#</div>#}